.btn {
    font-size: rem(16px);
    font-weight: bold;
    padding: rem(18px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    @include tablets {
        padding: rem(22px) rem(41px);
    }

    @include phones {
        padding: rem(22px) rem(44px);
    }

    &--theme--red {
        background: $red;
        color: #fff;

        &:hover {
            color: #fff;
            background: $darkred;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #fff;
        text-transform: none;
        padding: 0 rem(8px) 0 rem(10px);

        &:hover {
            color: $red;
        }
    }
}