.slider {
    background: #F8FAF9;
}

.slider__container {
    position: relative;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.slider__button {
    position: absolute;
    top: 46%;
    transform: translate(-50%);
    border: 0;
    background: transparent;
    color: #f00;
    cursor: pointer;
    z-index: 40;

    &--prev {
        left: -57px;
        transform: scale(-1, 1);
    }

    &--next {
        right: -4px;
    }

    @include tablets {
        top: 24.7%;

        &--prev {
            left: 126px;
            transform: scale(-1, 1);
        }
    
        &--next {
            right: 121px;
        }
    }

    @include phones {
        top: 23%;

        &--prev {
            left: -4px;
            transform: scale(-1, 1);
        }
    
        &--next {
            right: -17px;
        }
    }
}

.slider__icon {
    width: rem(13.5px);
    height: rem(27px);
}

.slide {
    display: flex;
    align-content: flex-start;

    @include tablets {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
}

.slide__cover {
    width: 48%;
    margin-right: 8%;
    padding-top: 3%;

    @include tablets {
        width: rem(306px);
        height: rem(306px);
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 43px;
    }

    @include phones {
        margin-bottom: 26px;
    }
}

.slide__content {
    width: 48%;

    @include tablets {
        width: 100%;
        text-align: center;
    }
}

.slide__info {
    margin-bottom: rem(25px);
    position: relative;
    display: inline-flex;

    &:hover .side-info {
        left: 100%;
        opacity: 1;
    }

    @include tablets {
        display: none;
    }
}

.slide__info-button {
    width: rem(91px);
    height: rem(91px);
    background: #9A9A9A;
    border-radius: 4px;
    padding: rem(25px);  
}

.slide__icon-info {
    width: 100%;
    height: 100%;
}

.slide__title {
    font-size: rem(36px);
    line-height: rem(42px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(24px);

    @include tablets {
        font-size: rem(28px);
        margin-bottom: rem(8px);
    }

    @include phones {
        margin: auto;
        width: 96%;
        font-family: Play;
        line-height: 32px;
        margin-bottom: 12px;
    }
}

.slide__text {
    font-size: rem(16px);
    line-height: rem(18px);
    margin-bottom: rem(27px);
    padding-right: 8%;
    color: #666666;

    @include tablets {
        padding-right: 0;
        line-height: 19px;
        max-width: rem(614px);
        margin: auto;
        margin-bottom: rem(25px);
    }

    @include phones {
        max-width: rem(402px);
        line-height: rem(19px);
        margin-bottom: 22px;
        margin-right: 29px;
    }
}

.slide__features {
    display: flex;
    align-items: center;
    margin-bottom: rem(22px);

    @include tablets {
        justify-content: center;
    }

    @include phones {
        margin-bottom: rem(17px);
    }
}

.slide__feature {
    margin-right: 86px;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 86px;

        &:last-child {
            margin-right: 0;
        }
    }

    @include phones {
        margin-right: 74px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.slide__feature-key {
    font-size: rem(16px);
    text-align: left;
}

.slide__feature-value {
    font-weight: bold;
}

.slide__footer {
    display: flex;
    align-items: center;

    @include tablets {
        justify-content: center;
    }
}

.slide__price {
    font-size: rem(36px);
    line-height: rem(60px);
    margin-right: rem(19px);

    @include tablets {
        margin-right: rem(43px);
        font-size: rem(40px);
    }

    @include phones {
        font-size: rem(32px);
        margin-right: 23px;
    }
}