.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: rem(-30px);

    @include tablets {
        margin-right: rem(8px);
    }
}

.socials__item {
    margin-right: rem(10px);

    @include tablets {
        margin-right: rem(12px)
    }
}

.socials__icon {
    width: 30px;
    height: 30px;
}