.benefits-section {
    position: relative;

    @include phones {
        background: none;
    }

    &:before {
        position: absolute;
        background: url(../img/decor/decor-triangle.png);
        content: "";
        width: rem(37px); 
        height: rem(37px);
        bottom: rem(-16px);
        left: 17.7%;
        display: block;

        @include phones {
            display: none;
        }
    }
}