.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image {
    margin-bottom: rem(25px);

    @include tablets {
        margin-bottom: rem(16px);
    }
    
    @include phones {
        margin-bottom: 0;
        margin-right: rem(10px);
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__text {
    @include phones {
        padding-top: rem(10px);
    }
}

.benefit__title {
    font-weight: bold;
    font-size: rem(23.4px);
    margin-bottom: 0;
    
    @include tablets {
        margin-bottom: rem(17px);
    }
    
    @include phones {
        margin-bottom: rem(3px);
    }
}

.benefit__desc {
    font-size: rem(16px);
    color: #666666;
    line-height: 1.1;
    width: 93%;
    margin: 0 auto;

    @include phones {
        width: 100%;
    }
}

.benefit__icon {
    width: rem(56px);
    height: rem(60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}