.contacts {
    font-style: normal;
    font-size: rem(18px);

    @include phones {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
