.features {
    display: flex;
}

.fetures__item {
    margin-right: rem(8px);

    &:last-child {
        margin-right: 0;
    }
}

.feature__icon {
    width: 40px;
    height: 40px;
}