.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 17%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(30px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(9px);

    @include tablets {
        margin-bottom: rem(13px);
    }

    &--textarea {
        margin-bottom: rem(28px);

        @include tablets {
            margin-bottom: rem(17px);
        }
    }
}

.form__block {
    flex: 1;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.form__title {
    font-size: rem(16px);
    // line-height: 18,rem(5px);
    margin-bottom: rem(5px);

    @include tablets {
        margin-bottom: rem(2px);
        
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(14px) rem(0px) rem(15px) rem(18px);
    border: solid rem(3px) transparent;
    border-radius: rem(5px);

    @include tablets {
        padding: rem(5px) 0 rem(5px) rem(18px);
    }

    &--textarea {
        height: rem(152px);
        width: rem(450px);
        resize: none;

        @include tablets {
            width: 100%;
            height: rem(82px);
        }
    }

    &:focus {
    border-color: $red;
    outline: none;
    }
}

.form__contorls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(25px);

    &--margin-bottom_increase {
        margin-bottom: rem(46px);
        
    }

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: rem(-8px);

    @include tablets {
        left: 0;
    }
}