.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        align-items: center;
        padding-right: rem(20px);
    }

    @include phones{
        margin-right: 0;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}