.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -30px;
}

.socials__item {
    margin-right: 10px;
}

.socials__icon {
    width: 30px;
    height: 30px;
}