.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
}
.btn--theme-red {
  background: #E01F3D;
  color: #fff;
}